<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <meta name="description" content="Gallery page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#9d0208"/>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>

<body>
    <header>
        <h2>Bandoleros Auto Body</h2>
        <img id="menu-button" src="../images/white_menu_icon.png" alt="menu icon button">
        <nav class="nav-items">
            <a href="../index.html">Home</a>
            <a href="../views/services-and-pricing.html">Services & Pricing</a>
            <a id="active" href="../views/gallery.html">Gallery</a>
            <a href="../views/about-us.html">About Us</a>
            <a href="../views/contact-us.html">Contact Us</a>
        </nav>
    </header>
    <main id="gallery-main">
        
        <div id="side-nav-div" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="nav-close-btn">&times;</a>
            <a href="../index.html">Home</a>
            <a href="../views/services-and-pricing.html">Services & Pricing</a>
            <a id="active" href="../views/gallery.html">Gallery</a>
            <a href="../views/about-us.html">About Us</a>
            <a href="../views/contact-us.html">Contact Us</a>
        </div>
        
        <h1>Photo Gallery</h1>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/dodge-challenger-black/dodge-challenger-black-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/dodge-challenger-black/dodge-challenger-black-after-2.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/dodge-challenger-black/dodge-challenger-black-after-3.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/dodge-challenger-black/dodge-challenger-black-after-4.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/old-ford-f100-red/old-ford-f100-red-after.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/vw-van-green/vw-van-green-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/vw-van-green/vw-van-green-after-3.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/vw-van-green/vw-van-green-after-4.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/toyota-tacoma-silver/toyota-tacoma-silver-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/toyota-tacoma-silver/toyota-tacoma-silver-before.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/mozda-black/mozda-black-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/mozda-black/mozda-black-after-2.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/mozda-black/mozda-black-before.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/gmc-sierra-silver/gmc-sierra-silver-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/gmc-sierra-silver/gmc-sierra-silver-before.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/gmc-sierra-silver/gmc-sierra-silver-after-3.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/toyota-suv-black/toyota-suv-black-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/toyota-suv-black/toyota-suv-black-after-2.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/gmc-sierra-dark-blue/gmc-sierra-blue-after-5.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/gmc-sierra-dark-blue/gmc-sierra-blue-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/gmc-sierra-dark-blue/gmc-sierra-blue-after-4.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/gmc-sierra-dark-blue/gmc-sierra-blue-progress.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/truck/truck-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/truck/truck-progress.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>

        <div class="photo-div">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/cars/ford-f150-white/ford-f150-white-after.jpg"></div>
                <div class="swiper-slide"><img src="../images/cars/ford-f150-white/ford-f150-white-before.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
            <div class="gallery-p-div">
                <p class="gallery-first-p"><span class="bold">Service:</span> Sanded and Painted entire car.</p>
                <p><span class="bold">Charged:</span> $5,000</p>
                <p><span class="bold">Time:</span> 2 weeks</p>
            </div>
        </div>
    
    </main>
    <footer>
        <p>Contact us to get your free consultation and estimate!</p>
        <div class="button-div"><button><a href="./contact-us.html">Contact Us</a></button></div>
        <p>Find us on social media!</p>
        <div class="social-media">
            <img src="../images/plain-instagram-logo.svg">
            <img src="../images/plain-facebook-logo.svg">
        </div>
     </footer>

    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/init-swiper.js"></script>

</body>

</html>
