<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Services and Pricing</title>
    <meta name="description" content="Services and pricing page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#9d0208"/>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Titillium+Web&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h2>Bandoleros Auto Body</h2>
        <img id="menu-button" src="../images/white_menu_icon.png" alt="menu icon button">
        <nav class="nav-items">
            <a href="../index.html">Home</a>
            <a id="active" href="../views/services-and-pricing.html">Services & Pricing</a>
            <a href="../views/gallery.html">Gallery</a>
            <a href="../views/about-us.html">About Us</a>
            <a href="../views/contact-us.html">Contact Us</a>
        </nav>
    </header>
    <main id="services-main">

        <div id="side-nav-div" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="nav-close-btn">&times;</a>
            <a href="../index.html">Home</a>
            <a id="active" href="../views/services-and-pricing.html">Services & Pricing</a>
            <a href="../views/gallery.html">Gallery</a>
            <a href="../views/about-us.html">About Us</a>
            <a href="../views/contact-us.html">Contact Us</a>
        </div>
  
        <h1>Services & Pricing</h1>

        <hr>
        <div class="services-grid-container">
            <div>
                <h2>Auto Paint</h2>
                <p>Price: Call to get your free estimate!</p>
                <p>Approximate time frame: 1 week - 2 months</p>
                <p>Whether you need a scratch fixed or a full paint job we got you covered. We have over ..... years of experience and we only use the best products .....</p>
            </div>
            <img src="../images/buffing.jpg">
        </div>
        <hr>
        <div class="services-grid-container">
            <div>
                <h2>Auto Glass Tint</h2>
                <p>Approximate price range: $200 - $300</p>
                <p>Approximate time frame: 1-2 hours</p>
                <p>Tinting your car not only looks good, but it also helps protect your cars interior from getting damaged by the sun and keeps your car cooler in the summer. Additionally, window tint gives you more privacy. We use the best quality window tint that lasts over time and looks the best.</p>
            </div>
            <img src="../images/tint.jpg">
        </div>
        <hr>
        <div class="services-grid-container">
            <div>
                <h2>Headlight Polish</h2>
                <p>Approximate price range: $80 - $100</p>
                <p>Approximate time frame: 1 day</p>
                <p>Do your headlights look dull and foggy? We can make your headlights look new and shiny again!</p>
            </div>
            <img src="../images/headlight-polish-after.jpg">
        </div>
        <hr>

    </main>
    <footer>
        <p>Contact us to get your free consultation and estimate!</p>
        <div class="button-div"><button><a href="./contact-us.html">Contact Us</a></button></div>
        <p>Find us on social media!</p>
        <div class="social-media">
            <img src="../images/plain-instagram-logo.svg">
            <img src="../images/plain-facebook-logo.svg">
        </div>
    </footer>

    <script src="../js/main.js"></script>

</body>

</html>
